<div cdkDropListGroup>
  <div class="shift-container mid-shift">
    <h2>Mid Shift</h2>
    <div cdkDropList [cdkDropListData]="midshift" class="shift-list" (cdkDropListDropped)="drop($event)">
      <div class="shift-box" *ngFor="let item of midshift" [cdkDragData]="item" cdkDrag>
        {{item}}
      </div>
    </div>
  </div>

  <div class="shift-container day-shift">
    <h2>Day Shift</h2>
    <div cdkDropList [cdkDropListData]="dayshift" class="shift-list"
    (cdkDropListDropped)="drop($event)">
      <div class="shift-box" *ngFor="let item of dayshift" [cdkDragData]="item" cdkDrag>
        {{item}}
      </div>
    </div>
  </div>

  <div class="shift-container eve-shift">
    <h2>Mid Shift</h2>
    <div cdkDropList [cdkDropListData]="eveshift" class="shift-list" (cdkDropListDropped)="drop($event)">
      <div class="shift-box" *ngFor="let item of eveshift" [cdkDragData]="item" cdkDrag>
        {{item}}
      </div>
    </div>
  </div>
</div>